

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Kumbh sans", "sans-serif";
}

.nav-bar {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.nav-items > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(233, 26%, 24%);
  margin-left: 10px;
  border-bottom: 2px solid transparent;
}


.nav-items > a:hover{
  color: hsl(192, 70%, 51%);
  transition-duration: 0.5s;
  border-bottom: 2px solid hsl(192, 70%, 51%);
  transform: translateX(10px);
}
.nav-bar > button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-color: hsl(192, 70%, 51%);
}

.nav-bar > button:hover{
  background-color: black;
  transition-duration: 0.7s;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.hero-img-container {
  background-image: url('./images/bg-intro-desktop.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.hero-img-container > img {
  width: 500px;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hero-text-container > h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(233, 26%, 24%);
  line-height: 1.1;
}
.hero-text-container > p {
  color: hsl(233, 8%, 62%);
  margin-bottom: 15px;
  font-weight: 700;
}
.hero-text-container > button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-color: hsl(192, 70%, 51%);
}

.hero-text-container > button:hover{
  background-color: black;
  transition-duration: 0.7s;
}
.container {
  background-color: hsl(220, 16%, 96%);
}
.why-us {
  padding-top: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}
.why-us > h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(233, 26%, 24%);
}
.why-us > p {
  color: hsl(233, 8%, 62%);
  margin-bottom: 15px;
  font-weight: 700;
}
.features-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10vh;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-item {
  background-color: hsl(192, 70%, 51%, 0.5);
  border: 1px solid hsl(233, 26%, 80%);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  width: calc(25% - 20px);
  min-height: 300px;
  flex-grow: 1;
}
.feature-item:hover{
  background-color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.4s;
}
.feature-item > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(233, 26%, 24%);
  
  
}
.feature-item > p {
  font-size: 16px;
  color: hsl(233, 8%, 40%);
  line-height: 1.5; 
}
.blog-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10vh;
}
.article-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.blog-section > h1 {
  font-size: 45px;
  margin-left: 1.25rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(233, 26%, 24%);
}
.article {
  height: max-content;
  width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 15px;
}

.article:hover{
  background-color: hsl(192, 70%, 51%, 0.5);
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.4s; 
}
.article > img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
.content {
  padding: 15px;
}
.content > p {
  font-size: 16px;
  color: hsl(233, 8%, 40%);
  line-height: 1.5;
  
}

.content > h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(233, 26%, 24%);
}
.footer {
  background-color: hsl(233, 26%, 24%);
  height: 30vh;
}
.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu > a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
}

.menu > a:hover{
  color: hsl(192, 70%, 51%);
  transition-duration: 0.5s;
  border-bottom: 2px solid hsl(192, 70%, 51%);
}
.social-container {
  margin-top: 3rem;
}
.social-container > img {
  margin-left: 10px;
  cursor: pointer;
}
.footer-container > button {
  margin-top: 3rem;
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-color: hsl(192, 70%, 51%);
}

.footer-container > button:hover{
  background-color: black;
  transition-duration: 0.6s;
}
